html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

.sky, .grass, .road, .audi{
    position: relative;
}


.sky{
    background-color: skyblue;
    height: 55%;

}

.grass{
    background-color: greenyellow;
    height: 15%;

}

.road{
    background-color: dimgray;
    height: 30%;
}

.divider{
    width: 100%;
    height: 0px;
    /* border-sizing: border-box; */
    border: 5px dashed #ffffff;
    top: 50%;
    position: absolute;
}


.car{
    height: 70%;
    position: absolute;
    top: -50px;

/* Animation name */
    animation-name: drive;
    /* Animation duration */
    animation-duration: 5s;

    /* Animation delay */
    animation-delay: 1s;

/* Animation fill mode */
    /* animation-fill-mode: forwards; */

/* Animation repeat */
    animation-iteration-count: infinite;

/* Animation Direction */
    animation-direction: alternate;

    animation-timing-function: ease-in-out;

}

.audi{
    height: 70%;
    position: absolute;
    top: 80px;
    animation-name: audi;

    animation-duration: 5s;

    animation-delay: 1s;
    /* animation-fill-mode: forwards; */

    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;



}





@keyframes drive{
    from{ transform: translateX(0px);}
    to{ transform: translateX(1200px);}
}


@keyframes audi{
    from{ transform: translateX(0px);}
    to{ transform: translateX(1200px);}
}





















